* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body,
html {
  height: 100%;
  overflow: hidden;
  background: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("photos/bg_img.jpg");
  filter: blur(2px) brightness(0.5);
  background-size: cover;
  background-position: center;
  animation: slowScroll 30s linear infinite;
}

@keyframes slowScroll {
  0% {
    background-position: center top;
  }
  50% {
    background-position: center bottom;
  }
  100% {
    background-position: center top;
  }
}

.container {
  position: relative;
  z-index: 1;
  width: 500px;
  height: 440px;
  max-width: 460px;
  margin: 100px auto;
  padding: 50px;
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid #00ffff;
  box-shadow: 0 0 15px #00ffff;
  border-radius: 10px;
  color: #00ffff;
}

form h2 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 28px;
  color: #00ffff;
}

.input-group {
  position: relative;
  margin-bottom: 35px;
}

.input-group input {
  width: 100%;
  padding: 14px 10px 10px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #00ffff;
  color: #00ffff;
  outline: none;
  font-size: 18px;
}

.input-group label {
  position: absolute;
  top: 14px;
  left: 0;
  color: #aaa;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s ease all;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -15px;
  font-size: 13px;
  color: #00ffff;
}

button {
  width: 100%;
  padding: 14px;
  background: #00ffff;
  border: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.5s;
}

button:hover {
  background: #00c9c9;
}
button:active {
  background: #00c9c9;
  transform: scale(0.98);
  transition: all 0.2s ease;
}

.register-link {
  margin-top: 20px;
  text-align: center;
  color: #ccc;
  font-size: 15px;
}

.register-link a {
  color: #00ffff;
  text-decoration: none;
  transition: color 0.3s;
}

.register-link a:hover {
  text-decoration: underline;
  color: #01e0e0;
}


@media (max-width: 768px) {
  .container {
    height: auto;
    max-width: 90%;
    margin: 60px auto;
    padding: 40px 25px;
  }

  form h2 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .input-group {
    margin-bottom: 30px;
  }

  .input-group input {
    font-size: 18px;
    padding: 12px 10px 8px 0;
  }

  .input-group label {
    font-size: 18px;
  }

  .input-group input:focus + label,
  .input-group input:valid + label {
    font-size: 14px;
    top: -12px;
  }

  button {
    font-size: 18px;
    padding: 12px;
  }

  .register-link {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 40px 15px;
    padding: 30px 20px;
  }

  form h2 {
    font-size: 23px;
    margin-bottom: 25px;
  }

  .input-group {
    margin-bottom: 25px;
  }

  .input-group input {
    font-size: 18px;
    padding: 10px 8px 6px 0;
  }

  .input-group label {
    font-size: 17px;
  }

  .input-group input:focus + label,
  .input-group input:valid + label {
    font-size: 14px;
    top: -11px;
  }

  button {
    font-size: 18px;
    padding: 10px;
  }

  .register-link {
    font-size: 16px;
  }
}
